:root {
    --red: #e50914;
    --black: #141414;
    --gray: #AAA;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

body {
    background: var(--black);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: var(--white);
}

header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,.8) 10%,rgba(0,0,0,0))
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

header .logo{
    margin-left: 5px;
    color: var(--red);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: var(--gray);
    margin-right: 10px;
}

header nav a:hover {
    color: var(--white);
}

.main-movie {
    font-size: 16px;
    background: linear-gradient(
        rgba(0,0,0,.50),
        rgba(0,0,0,.50)100%), 
        url('../img/poster-ozark.jpg');
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description {
    margin-top: 10px;
    margin-bottom: 40px;
}

.main-movie .container {
    width: 70%;
}

.title {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.button {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: var(--white);
    padding: 15px 20px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .2s ease all;
}

.button:hover {
    background-color: var(--white);
    color: var(--black);
}

.button svg {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

.box-movie {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-movies {
    margin-top: 5px;
}